<div class="login-page">
    <form class="card" (ngSubmit)="submit()">
        <div class="logo">
            <img src="assets/logo/logo.svg" alt="Signa by BeCare" class="logo-img" />
        </div>
        <input type="email" [(ngModel)]="email" name="email" required autocomplete="username" placeholder="Email"
            aria-label="Email" />

        <input type="password" [(ngModel)]="password" name="password" required autocomplete="current-password"
            placeholder="Password" aria-label="Password" />

        <button type="submit" [disabled]="loading">
            {{ loading ? 'Accesso…' : 'Entra' }}
        </button>

        <div class="error" *ngIf="error">{{ error }}</div>
    </form>
</div>